
#epoch-nav {
  background-color: #eef;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}
#epoch-nav ul {
  list-style-type: none;
  padding-left: 0;
}
#epoch-nav li {
  margin: 0.3rem 0;
}
.epoch-link {
  color: #0055ff;
  font-weight: bold;
  text-decoration: underline;
}
